
# Python internals
__pycache__/
*.py[cod]
*.so
.ipynb_checkpoints/

# Virtual Environment
myvenv/
venv/
env/

# Large Data & Output Files
csv_output/
data/

# Notebooks
Experiment 1.ipynb
Experiment 2.ipynb

# System files
.DS_Store
Thumbs.db

# Environment variables
.env
